/* === Defaults === */
*{
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-weight: 600;
    line-height: 1.6;
    font-size: 33px;
    color: rgb(51, 49, 49);
}

h3 {
    font-weight: 600;
    line-height: 1.5;
    font-size: 24px;
    color: rgb(101, 95, 95);
    margin: 50px 0 20px 40px;
}

p, a {
    color: grey;
    font-weight: 400;
    font-size: 18px;
}

/* === Nav Bar === */
.nav-container {
    margin-bottom: 50px;
    display: block;
    border-bottom: 0.1px rgb(231, 236, 240) solid;

}

.nav-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    max-width: 900px;
    margin: auto;
}

.nav-container .logo {
   background-color: goldenrod;
   border-radius: 10px;
   padding: 10px;
   color: black;
   font-size: 20px;
   line-height: 1.2;
}

.logo:hover {
    color: goldenrod;
    background-color: black;
}

.nav-container ul {
    display: flex;
    gap: 30px;
}

.nav-container ul a {
    padding: 5px;
}

.nav-container ul a:hover {
    color: goldenrod;
}

/* === Hero Section === */
main {
    margin: 0 auto;
    border-radius: 10px;
    max-width: 900px;
    outline: 0.1px rgb(216, 221, 225) solid;
}

main .intro {
    height: 500px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

main img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 30px;
}

main .intro h2 {
    padding-bottom: 30px;
}

.responsibilities .hide {
    display: none;
}

.responsibilities a {
    color: goldenrod;
    margin: 0 15px 0 50px;
    margin-bottom: 20px;
    font-weight: 550;
}

.responsibilities a:hover {
    text-decoration: underline;
}

.responsibilities span {
    color: gray;
    font-size: 15px;
}

/* === Footer Section === */
footer {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
}

footer  h4 {
    margin: 10px 50px;
    color: rgb(65, 64, 64);
    font-size: 16px;
    font-weight: 500;
}

footer {
    border-top: 0.1px rgb(231, 236, 240) solid;
}

.social {
    margin: 50px 0;
}

footer .link-row {
    margin: 10px 50px 10px 50px;
    width: 120px;
}

footer .link-row a {
    display: flex;
    align-items: center;
    gap: 7px;
}

footer a:hover {
    color: goldenrod;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0;
    transition: transform 0.5s ease-out;
    object-fit: contain;
}

footer img:hover {
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer span {
    font-size: 15px;
}

footer .small-text {
    text-align: center;
    font-size: 14px;
    color: rgb(65, 64, 64);
    padding: 25px;    
    border-top: 0.1px rgb(231, 236, 240) solid;
}

/* Responsive Design */
@media(max-width: 590px) {
    .nav-container nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    main .intro {
        height: 400px;
    }

    main .intro h2 {
        font-size: 28px;
        line-height: 1.2;
        padding-bottom: 15px;
    }

    .nav-container .nav-links a, .intro p, footer .link-row a {
        font-size: 14px;
    }

    .responsibilities {
        display: flex;
        flex-wrap: wrap;   
    }

    main .responsibilities h3 {
        font-size: 19px;
        margin: 0px 40px 40px 25px;
    }

    .responsibilities a {
    margin: 0 10px 0 25px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    }
}

@media(max-width: 500px) {
    main .responsibilities span {
        display: none;
    }

    main .responsibilities .hide {
        display: inline-block;
    }
}